<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.pretLancer_7.dao.AbilityDAO">
	
	<update id="PsucceedUp" parameterType="string">
	update pret_ability set psucceed = psucceed + 1 where memberid = #{memberid}
	</update>
	
	<update id="PfailedUp" parameterType="string">
	update pret_ability set pfailed = pfailed + 1 where memberid = #{memberid}
	</update>
	
	<update id="SsucceedUp" parameterType="string">
	update pret_ability set ssucceed = ssucceed + 1 where memberid = #{memberid}
	</update>
	
	<update id="SfailedUp" parameterType="string">
	update pret_ability set sfailed = sfailed + 1 where memberid = #{memberid}
	</update>
	
	<update id="MsucceedUp" parameterType="string">
	update pret_ability set msucceed = msucceed + 1 where memberid = #{memberid}
	</update>
	
	<update id="MfailedUp" parameterType="string">
	update pret_ability set mfailed = mfailed + 1 where memberid = #{memberid}
	</update>
	
	<update id="LsucceedUp" parameterType="string">
	update pret_ability set lsucceed = lsucceed + 1 where memberid = #{memberid}
	</update>
	
	<update id="LfailedUp" parameterType="string">
	update pret_ability set lfailed = lfailed + 1 where memberid = #{memberid}
	</update>
	
	<update id="EsucceedUp" parameterType="string">
	update pret_ability set esucceed = esucceed + 1 where memberid = #{memberid}
	</update>
	
	<update id="EfailedUp" parameterType="string">
	update pret_ability set efailed = efailed + 1 where memberid = #{memberid}
	</update>
	
	<select id="ExamAlot" resultType="Ability">
	SELECT *
	FROM (
    	SELECT *
   		FROM pret_ability
		)
	WHERE ROWNUM &lt;= 5
	ORDER BY psucceed DESC
	</select>
	
	<select id="TranslatedAlotS" resultType="Ability">
	SELECT *
	FROM (
    	SELECT *
   		FROM pret_ability
		)
	WHERE ROWNUM &lt;= 5
	ORDER BY ssucceed DESC
	</select>
	
	<select id="TranslatedAlotM" resultType="Ability">
	SELECT *
	FROM (
    	SELECT *
   		FROM pret_ability
		)
	WHERE ROWNUM &lt;= 5
	ORDER BY msucceed DESC
	</select>
	
	<select id="EvaluationAlot" resultType="Ability">
	SELECT *
	FROM (
    	SELECT *
   		FROM pret_ability
		)
	WHERE ROWNUM &lt;= 5
	ORDER BY esucceed DESC
	</select>
	
	<select id="getPper" parameterType="String" resultType="int">
	SELECT
		ROUND (
    	CASE 
        	WHEN (psucceed + pfailed) = 0 THEN 0 
        	ELSE (psucceed / (psucceed + pfailed)) * 100
    	END ) AS success_rate
	FROM pret_ability
	WHERE memberid = #{memberid}
	</select>
	
	<select id="getSper" parameterType="String" resultType="int">
	SELECT
		ROUND (
    	CASE 
        	WHEN (ssucceed + sfailed) = 0 THEN 0 
        	ELSE (ssucceed / (ssucceed + sfailed)) * 100
    	END ) AS success_rate
	FROM pret_ability
	WHERE memberid = #{memberid}
	</select>
	
	<select id="getMper" parameterType="String" resultType="int">
	SELECT 
		ROUND (
    	CASE 
        	WHEN (msucceed + mfailed) = 0 THEN 0 
        	ELSE (msucceed / (msucceed + mfailed)) * 100
    	END ) AS success_rate
	FROM pret_ability
	WHERE memberid = #{memberid}
	</select>
	
	<select id="getEper" parameterType="String" resultType="int">
	SELECT 
		ROUND (
    	CASE 
        	WHEN (esucceed + efailed) = 0 THEN 0 
        	ELSE (esucceed / (esucceed + efailed)) * 100
    	END ) AS success_rate
	FROM pret_ability
	WHERE memberid = #{memberid}
	</select>
	
	<select id="getAbility" parameterType="String" resultType="Ability">
	SELECT * FROM pret_ability where memberid = #{memberid}
	</select>
	
</mapper>
