<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.pretLancer_7.dao.CommunityDAO">
	
	<select id="selectAll" resultType="Board">
		select * from pret_board order by boardnum desc
	</select>
	
	<select id="selectOne" parameterType="int" resultType="Board">
		select * from pret_board where boardnum = #{boardnum}
	</select>
	
	<select id="replyAll" parameterType="int" resultType="Reply">
		select * from pret_reply where boardnum = #{boardnum} order by replynum desc
	</select>
	
	<insert id="insertOne" parameterType="Board">
		insert into pret_board (boardnum, memberid, boardcontent, boardtitle) 
		values (pret_board_seq.nextval, #{memberid}, #{boardcontent}, #{boardtitle})
	</insert>
	
	<insert id="insertReply" parameterType="Reply">
		insert into pret_reply (replynum, boardnum, memberid, replycontent)
		values (pret_reply_seq.nextval, #{boardnum}, #{memberid}, #{replycontent})
	</insert>
	
	<delete id="deleteReply" parameterType="Reply">
		delete from pret_reply where replynum = #{replynum} and memberid = #{memberid}
	</delete>
	
	<delete id="deleteOne" parameterType="Board">
		delete from pret_board where boardnum = #{boardnum} and memberid = #{memberid}
	</delete>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE pret_board SET boardtitle = #{boardtitle}, boardcontent = #{boardcontent}
	</update>

	<update id="updateHits" parameterType="int">
		UPDATE pret_board SET hits = hits+1 where boardnum = #{boardnum}
	</update>

	<select id="selectReco" parameterType="Map">
		select * from pret_board_reco where boardnum = #{boardnum} and memberid = #{memberid}
	</select>

	<update id="downReco" parameterType="int">
		UPDATE pret_board SET recommend = recommend - 1 where boardnum = #{boardnum}
	</update>

	<delete id="deleteReco" parameterType="Map">
		delete from pret_board_reco where boardnum = #{boardnum} and memberid = #{memberid}
	</delete>

	<insert id="insertReco" parameterType="Map">
		insert pret_board_reco (recomendnum, boardnum, memberid)
		values(board_reco_seq.nextval, #{boardnum}, #{memberid})
	</insert>
		
	<update id="upReco" parameterType="int">
		UPDATE pret_board SET recommend = recommend +1 where boardnum = #{boardnum}
	</update>


</mapper>
