<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.pretLancer_7.dao.CommunityDAO">
	
	<select id="selectAll" resultType="Board">
		select * from pret_board order by boardnum desc
	</select>
	
	<select id="selectOne" parameterType="int" resultType="Board">
		select * from pret_board where boardnum = #{boardnum}
	</select>
	
	<select id="replyAll" parameterType="int" resultType="Reply">
		select * from pret_reply where boardnum = #{boardnum} order by replynum desc
	</select>
	
	<insert id="insertOne" parameterType="Board">
		insert into pret_board (boardnum, memberid, boardcontent, boardtitle) 
		values (pret_board_seq.nextval, #{memberid}, #{boardcontent}, #{boardtitle})
	</insert>
	
	<insert id="insertReply" parameterType="Reply">
		insert into pret_reply (replynum, boardnum, memberid, replycontent)
		values (pret_reply_seq.nextval, #{boardnum}, #{memberid}, #{replycontent})
	</insert>
	
	<delete id="deleteReply" parameterType="Reply">
		delete from pret_reply where replynum = #{replynum} and memberid = #{memberid}
	</delete>
	
	<delete id="deleteOne" parameterType="Board">
		delete from pret_board where boardnum = #{boardnum} and memberid = #{memberid}
	</delete>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE pret_board SET boardtitle = #{boardtitle}, boardcontent = #{boardcontent}
	</update>
<!-- 조회수 업데이트 -->
	<update id="updateHits" parameterType="int">
		UPDATE pret_board SET hits = hits+1 where boardnum = #{boardnum}
	</update>

<!-- 게시물 추천 -->
	<!-- 이미 추천했는지 확인 -->
	<select id="selectReco" parameterType="Map" resultType="Integer">
		select recommendnum from pret_board_reco where boardnum = #{boardnum} and memberid = #{memberid}
	</select>
	<!-- 다시 눌렀을 때 추천 -1 -->
	<update id="downReco" parameterType="int">
		UPDATE pret_board SET recommend = recommend - 1 where boardnum = #{boardnum}
	</update>
	<!-- -추천 기록 테이불에서 삭제 -->
	<delete id="deleteReco" parameterType="Map">
		delete from pret_board_reco where boardnum = #{boardnum} and memberid = #{memberid}
	</delete>
	<!-- 게시물 추천 테이블에 추천 정보를 입력 -->
	<insert id="insertReco" parameterType="Map">
		insert into pret_board_reco (recommendnum, boardnum, memberid)
		values(board_reco_seq.nextval, #{boardnum}, #{memberid})
	</insert>
	<!-- 게시물 추천 정보를 게시물에도 반영 -->
	<update id="upReco" parameterType="int">
		UPDATE pret_board SET recommend = recommend +1 where boardnum = #{boardnum}
	</update>

<!-- 게시물 반대 -->
	<select id="selectDeco" parameterType="Map" resultType="Integer">
		select decommendnum from pret_board_Deco where boardnum = #{boardnum} and memberid = #{memberid}
	</select>

	<update id="downDeco" parameterType="int">
		UPDATE pret_board SET decommend = decommend - 1 where boardnum = #{boardnum}
	</update>

	<delete id="deleteDeco" parameterType="Map">
		delete from pret_board_deco where boardnum = #{boardnum} and memberid = #{memberid}
	</delete>

	<insert id="insertDeco" parameterType="Map">
		insert into pret_board_deco (decommendnum, boardnum, memberid)
		values(board_deco_seq.nextval, #{boardnum}, #{memberid})
	</insert>
		
	<update id="upDeco" parameterType="int">
		UPDATE pret_board SET decommend = decommend +1 where boardnum = #{boardnum}
	</update>

<!-- 댓글 추천 -->
	<!-- 이미 추천 했는지 확인 -->
	<select id="selectReplyReco" parameterType="Map" resultType="Integer">
		select replynum from pret_reply_reco where replynum = #{replynum} and memberid = #{memberid}
	</select>

	<insert id="insertReplyReco" parameterType="Map">
		insert into pret_reply_reco (replyreconum, replynum, memberid)
		values(reply_reco_seq.nextval, #{replynum}, #{memberid})
	</insert>

	<delete id="deleteReplyReco" parameterType="Map">
		delete from pret_reply_reco where replynum = #{replynum} and memberid = #{memberid}
	</delete>

	<update id="upReplyReco" parameterType="int">
		UPDATE pret_reply SET replyrecommend = replyrecommend +1 where replynum = #{replynum}
	</update>

	<update id="downReplyReco" parameterType="int">
		UPDATE pret_reply SET replyrecommend = replyrecommend -1 where replynum = #{replynum}
	</update>
</mapper>
