<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.pretLancer_7.dao.ExamDAO">
	
	<select id="selectExam" parameterType="Exam" resultType="Exam">
	select * from pret_examvalue where language = #{language}
	and examnum not in (select examnum from pret_exam where memberid = #{memberid})
	</select>
	
	<select id="findAnswer" parameterType="Exam" resultType="Exam">
	select * from pret_examvalue where examnum = #{examnum}
	</select>
	
	<select id="selectOne" parameterType="string" resultType="Member">
	select * from pret_member where memberid = #{memberid}
	</select>
	
	<update id="tutorialUp" parameterType="string">
	update pret_member set tutorial_num = tutorial_num + 1 where memberid = #{memberid}
	</update>
	
	<insert id="insertExamMember" parameterType="Exam">
	insert into pret_exam (memberid, examnum) values (#{memberid}, #{examnum})
	</insert>
	
	<update id="tutorialClear" parameterType="string">
	update pret_member set tutorial= 'Y' where memberid = #{memberid}
	</update>

	<!-- ajax -->
	<select id="getExamInfo" parameterType="Exam" resultType="Exam">
	select * from pret_exam where examnum = #{examnum} and memberid = #{memberid}
	</select>
	
</mapper>
