<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.pretLancer_7.dao.LongDAO">

        <select id="selectAdTranslator" resultType="MyPage">
                SELECT m.memberid as memberid, m.membername as membername
                , m.membernick as membenick, m.mem_ex as mem_ex
                , m.mem_level as mem_level,m.memberlang as memberlang
                , p.profilecomment as profilecomment, p.originphoto as originphoto
                , p.savedphoto as savedphoto
                FROM pret_member m
                INNER JOIN pret_member_profile p ON m.memberid = p.memberid
                <!--  TODO: 아직 광고 관련 속성이 없어 그냥 다 올리지만 속성 추가하고 조건도 추가해야함. -->
                WHERE m.mem_level like 'A' or m.mem_level like 'B'  AND m.ROLE_NAME = 'ROLE_TRANSLATOR'
                ORDER BY m.mem_level
        </select>

        <select id="selectOneMyPage" parameterType="String" resultType="MyPage">
                SELECT m.memberid as memberid, m.membername as membername
                , m.membernick as membenick, m.mem_ex as mem_ex
                , m.mem_level as mem_level,m.memberlang as memberlang
                , p.profilecomment as profilecomment, p.originphoto as originphoto
                , p.savedphoto as savedphoto
                FROM pret_member m
                INNER JOIN pret_member_profile p ON m.memberid = p.memberid
                <!--  TODO: 아직 광고 관련 속성이 없어 그냥 다 올리지만 속성 추가하고 조건도 추가해야함. -->
                WHERE m.memberid = #{memberid}
                
        </select>

        <insert id="insertOneRequst" parameterType="Request_L">
                insert into pret_request_L 
                (requestnum_l, memberid, memberid2, category, enddate, workdate, cash, originrfile, savedrfile, comment_lr, startlang, endlang)
                values 
                (PRET_REQ_L_SEQ.nextval, #{memberid}, #{memberid2}, #{category}, #{enddate}, #{enddate}, #{cash}, #{originrfile}, #{savedrfile}, #{comment_lr}, #{startlang}, #{endlang} )
        </insert>

        <!-- 경매 쪽으로 요청함. -->
        <insert id="insertOneRequstAuction" parameterType="Request_L">
                <!-- 이곳에 INSERT 쿼리 작성 -->
                insert into pret_request_L
                (requestnum_l, memberid, category, enddate, workdate, cash, originrfile, savedrfile, comment_lr, startlang, endlang)
                values
                (PRET_REQ_L_SEQ.nextval, #{memberid}, #{category}, #{enddate}, #{enddate}, #{cash}, #{originrfile}, #{savedrfile}, #{comment_lr}, #{startlang}, #{endlang} )
                
                <!-- SELECT 문을 사용하여 자동 생성된 키 값을 가져옴 -->
                <!-- <selectKey  keyProperty="requestnum_l" order="AFTER" resultType="Map" >
                        SELECT PRET_REQ_L_SEQ.currval FROM DUAL
                </selectKey> -->
        </insert>

        <select id="selectMaxRequestnum" resultType="int">
                select max(requestnum_l) from pret_request_l
        </select>

        <!-- 옥선 테이블에 집어넣는다 -->
        <insert id="insertAuction" parameterType="int">
                insert into pret_auction (auctionnum,requestlnum)
                values (PRET_AUCTION_SEQ.nextval, #{requestnum})
        </insert>
	
</mapper>
