<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.pretLancer_7.dao.MemberDAO">

	<insert id="insertOne" parameterType="Member">
	insert into pret_member (memberid, memberpw, membermail, membername, membernick, memberlang) 
	values (#{memberid}, #{memberpw}, #{membermail}, #{membername}, #{membernick}, #{memberlang})
	</insert>
	
	<select id="selectOne" parameterType="String" resultType="Member">
	select * from pret_member where memberid = #{searchid}
	</select>

	<select id="selectOneMyPage" parameterType="String" resultType="MyPage">
		select * from pret_member_profile where memberid = #{memberid}
	</select>
	
	<insert id="insertmP" parameterType="MyPage">
	insert into pret_member_profile (profilecomment, originphoto, savedphoto)
	values ('자기소개를 입력해주세요.', #{originphoto}, #{savedphoto})
	</insert>
	
</mapper>
