<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.pretLancer_7.dao.MemberDAO">

	<insert id="insertOne" parameterType="Member">
	insert into pret_member (memberid, memberpw, membermail, membername, membernick, memberlang) 
	values (#{memberid}, #{memberpw}, #{membermail}, #{membername}, #{membernick}, #{memberlang})
	</insert>
	
	<select id="selectOne" parameterType="String" resultType="Member">
	select * from pret_member where memberid = #{searchid}
	</select>

	<select id="selectOneMyPage" parameterType="String" resultType="MyPage">
		select * from pret_member_profile where memberid = #{memberid}
	</select>

	
	<insert id="insertMp" parameterType="MyPage">
	insert into pret_member_profile (memberid, profilecomment)
	values (#{memberid}, '자기소개를 입력해주세요.')
	</insert>
	
	<insert id="insertAb" parameterType="Ability">
	insert into pret_ability (memberid)
	values (#{memberid})
	</insert>
	
	<update id="updateProfile" parameterType="Mypage">
	update pret_member_profile set 
	profilecomment = #{profilecomment}
	<if test="originphoto != null and savedphoto != null"> , originphoto = #{originphoto}, savedphoto = #{savedphoto}</if>
	where memberid = #{memberid}
	</update>
	
	<update id="updateOne" parameterType="member">
	update pret_member set membername = #{membername}, membermail = #{membermail}, membernick = #{membernick}
	<if test="memberpw != null and memberpw != ''">
		, memberpw = #{memberpw}
	</if>
	where memberid = #{memberid}
	</update>
	
	<update id="usePoint" parameterType="Member">
	update pret_member set cash = cash - #{cash} where memberid = #{memberid}
	</update>
	
	<update id="cancelPoint" parameterType="Member">
	update pret_member set cash = cash + #{cash} where memberid = #{memberid}
	</update>
	
</mapper>
