<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.pretLancer_7.dao.RequestDAO">

	<insert id="insertRS" parameterType="Request_S">
	insert into pret_request_s (requestnum_s, memberid, requestcontent_S,cash, comment_sr, startlang, endlang)
	values (pret_req_s_seq.nextval, #{memberid}, #{requestcontent_S},#{cash}, #{comment_sr},#{startlang}, #{endlang})
	</insert>
	
	<delete id="deleteRS" parameterType="Request_S">
	delete from pret_request_s where requestnum_s = #{requestnum_s} and memberid = #{memberid}
	</delete>
	
	<select id="selectRS" parameterType="Request_S">
	select * from pret_request_s where requestnum_s = #{requestnum_s} and memberid = #{memberid}
	</select>
	
	<insert id="insertRM" parameterType="Request_M">
	insert into pret_request_m (requestnum_m, memberid, requestcontent_m,cash, comment_mr, startlang, endlang)
	values (pret_req_m_seq.nextval, #{memberid}, #{requestcontent_m},#{cash}, #{comment_mr},#{startlang}, #{endlang})
	</insert>
	
	<delete id="deleteRM" parameterType="Request_M">
	delete from pret_request_m where requestnum_m = #{requestnum_m} and memberid = #{memberid}
	</delete>
	
	<select id="selectRM" parameterType="Request_M">
	select * from pret_request_m where requestnum_m = #{requestnum_m} and memberid = #{memberid}
	</select>

</mapper>
