<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.pretLancer_7.dao.RequestDAO">

	<insert id="insertRS" parameterType="Request_S">
	insert into pret_request_s (requestnum_s, memberid, requestcontent_s, cash, startlang, endlang 
	<if test="comment_sr != null">, comment_sr</if>)
	values (pret_req_s_seq.nextval, #{memberid}, #{requestcontent_s}, #{cash}, #{startlang}, #{endlang}
	<if test="comment_sr != null">, #{comment_sr}</if>)
	</insert>
	
	<delete id="cancelRS" parameterType="Request_S">
	update pret_request_s set requestcondition_s = 'F' 
	where requestnum_s = #{requestnum_s} and memberid = #{memberid}
	</delete>
	
	<select id="selectRS" parameterType="Request_S" resultType="Request_S">
	select * from pret_request_s where requestnum_s = #{requestnum_s} and memberid = #{memberid}
	</select>
	
	<insert id="insertRM" parameterType="Request_M">
	insert into pret_request_m (requestnum_m, memberid, requestcontent_m, cash, startlang, endlang 
	<if test="comment_mr != null">, comment_mr</if>)
	values (pret_req_m_seq.nextval, #{memberid}, #{requestcontent_m}, #{cash}, #{startlang}, #{endlang}
	<if test="comment_mr != null">, #{comment_mr}</if>)
	</insert>
	
	<delete id="cancelRM" parameterType="Request_M">
	update pret_request_m set requestcondition_m = 'F' 
	where requestnum_m = #{requestnum_m} and memberid = #{memberid}
	</delete>
	
	<select id="selectRM" parameterType="Request_M" resultType="Request_M">
	select * from pret_request_m where requestnum_m = #{requestnum_m} and memberid = #{memberid}
	</select>
	
	<select id="choiceRS" resultType="Request_S">
	SELECT *
    FROM (
        SELECT *
        FROM pret_request_s
        WHERE requestcondition_s = 'N' AND enddate > sysdate
        ORDER BY enddate - sysdate ASC
    )
    WHERE ROWNUM &lt;= 1
	</select>
	
	<select id="choiceRM" resultType="Request_M">
	SELECT *
    FROM (
        SELECT *
        FROM pret_request_m
        WHERE requestcondition_m = 'N' AND enddate > sysdate
        ORDER BY enddate - sysdate ASC
    )
    WHERE ROWNUM &lt;= 1
	</select>
	
	<update id="updateMem2_S" parameterType="Translated_S">
	update pret_request_s set memberid2 = #{memberid2}, requestcondition_s = 'T' where requestnum_s = #{requestnum_s}
	</update>
	
	<update id="updateMem2_M" parameterType="Translated_M">
	update pret_request_m set memberid2 = #{memberid2}, requestcondition_m = 'T' where requestnum_m = #{requestnum_m}
	</update>
	
	<update id="updateCon_S" parameterType="Translated_S">
	update pret_request_s set requestcondition_s = 'E' where requestnum_s = #{requestnum_s}
	</update>
	
	<update id="updateCon_M" parameterType="Translated_M">
	update pret_request_m set requestcondition_m = 'E' where requestnum_m = #{requestnum_m}
	</update>

	<select id="SRS" parameterType="int" resultType="Request_S">
		select * from pret_request_s where requestnum_s = #{requestnum_s}
	</select>

	<select id="SRM" parameterType="int" resultType="Request_M">
		select * from pret_request_m where requestnum_m = #{requestnum_m} 
	</select>

</mapper>
