<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.pretLancer_7.dao.RequestDAO">

	<insert id="insertRS" parameterType="Request_S">
	insert into pret_request_s (requestnum_s, memberid, requestcontent_s, cash, startlang, endlang 
	<if test="comment_sr != null">, comment_sr</if>)
	values (pret_req_s_seq.nextval, #{memberid}, #{requestcontent_s}, #{cash}, #{startlang}, #{endlang}
	<if test="comment_sr != null">, #{comment_sr}</if>)
	</insert>
	
	<delete id="cancelRS" parameterType="Request_S">
	update pret_request_s set requestcondition_s = 'F' 
	where requestnum_s = #{requestnum_s} and memberid = #{memberid}
	</delete>
	
	<select id="selectRS" parameterType="Request_S" resultType="Request_S">
	select * from pret_request_s where requestnum_s = #{requestnum_s} and memberid = #{memberid}
	</select>
	
	<insert id="insertRM" parameterType="Request_M">
	insert into pret_request_m (requestnum_m, memberid, requestcontent_m, cash, startlang, endlang 
	<if test="comment_mr != null">, comment_mr</if>)
	values (pret_req_m_seq.nextval, #{memberid}, #{requestcontent_m}, #{cash}, #{startlang}, #{endlang}
	<if test="comment_mr != null">, #{comment_mr}</if>)
	</insert>
	
	<delete id="cancelRM" parameterType="Request_M">
	update pret_request_m set requestcondition_m = 'F' 
	where requestnum_m = #{requestnum_m} and memberid = #{memberid}
	</delete>
	
	<select id="selectRM" parameterType="Request_M" resultType="Request_M">
	select * from pret_request_m where requestnum_m = #{requestnum_m} and memberid = #{memberid}
	</select>
	
	<select id="choiceRS" resultType="Request_S" parameterType="String">
	SELECT *
    FROM (
        SELECT *
        FROM pret_request_s
        WHERE requestcondition_s = 'N' AND enddate > sysdate AND memberid != #{memberid}
        ORDER BY enddate - sysdate ASC
    )
    WHERE ROWNUM &lt;= 1
	</select>
	
	<select id="choiceRM" resultType="Request_M" parameterType="String">
	SELECT *
    FROM (
        SELECT *
        FROM pret_request_m
        WHERE requestcondition_m = 'N' AND enddate > sysdate AND memberid != #{memberid}
        ORDER BY enddate - sysdate ASC
    )
    WHERE ROWNUM &lt;= 1
	</select>
	
	<update id="updateMem2_S" parameterType="Translated_S">
	update pret_request_s set memberid2 = #{memberid2}, requestcondition_s = 'T' where requestnum_s = #{requestnum_s}
	</update>
	
	<update id="updateMem2_M" parameterType="Translated_M">
	update pret_request_m set memberid2 = #{memberid2}, requestcondition_m = 'T' where requestnum_m = #{requestnum_m}
	</update>
	
	<update id="updateCon_S" parameterType="Translated_S">
	update pret_request_s set requestcondition_s = 'E' where requestnum_s = #{requestnum_s}
	</update>
	
	<update id="updateCon_M" parameterType="Translated_M">
	update pret_request_m set requestcondition_m = 'E' where requestnum_m = #{requestnum_m}
	</update>

	<select id="SRS" parameterType="int" resultType="Request_S">
		select * from pret_request_s where requestnum_s = #{requestnum_s}
	</select>

	<select id="SRM" parameterType="int" resultType="Request_M">
		select * from pret_request_m where requestnum_m = #{requestnum_m} 
	</select>

	<update id="cancelCon_S" parameterType="Translated_S">
	update pret_request_s set requestcondition_s = 'N', memberid2 = '' where requestnum_s = #{requestnum_s}
	</update>

	<update id="cancelCon_M" parameterType="Translated_M">
	update pret_request_m set requestcondition_m = 'N', memberid2 = '' where requestnum_m = #{requestnum_m}
	</update>
	
	<select id="myorderS" parameterType="String" resultType="Request_S">
	select * from pret_request_s where memberid2 = #{memberid} and requestcondition_s = 'T'
	</select>
	
	<select id="myorderM" parameterType="String" resultType="Request_M">
	select * from pret_request_m where memberid2 = #{memberid} and requestcondition_m = 'T'
	</select>
	
	<select id="getRequestS" parameterType="int">
	select * from pret_request_s where requestnum_s = #{requestnum_s}
	</select>
	
	<select id="getRequestM" parameterType="int">
	select * from pret_request_m where requestnum_m = #{requestnum_m}
	</select>
	
	<select id="RScount" resultType="int">
	SELECT COUNT(*) FROM pret_request_s
	</select>
	<select id="RMcount" resultType="int">
	SELECT COUNT(*) FROM pret_request_m
	</select>
	<select id="TScount" resultType="int">
	SELECT COUNT(*) FROM pret_request_s where requestcondition_s = 'N'
	</select>
	<select id="TMcount" resultType="int">
	SELECT COUNT(*) FROM pret_request_m where requestcondition_m = 'N'
	</select>
	<select id="EScount" resultType="int">
	SELECT COUNT(*) FROM pret_request_s where requestcondition_s = 'E'
	</select>
	<select id="EMcount" resultType="int">
	SELECT COUNT(*) FROM pret_request_m where requestcondition_m = 'E'
	</select>
	
	<select id="rsList" parameterType="String" resultType="Request_S">
	SELECT pret_request_s where memberid = #{memberid}
	</select>
	
	<select id="rmList" parameterType="String" resultType="Request_M">
	SELECT pret_request_m where memberid = #{memberid}
	</select>
	
	<select id="selectRequestList_S" parameterType="String" resultType="Request_S">
    select * 
    from pret_request_s
    <if test="#{userid} != null">
        where memberid = #{userid}
    </if>
    </select>

	<select id="selectRequestList_M" parameterType="String" resultType="Request_M">
    select * 
    from pret_request_m
    <if test="#{userid} != null">
        where memberid = #{userid}
    </if>
    </select>
    
  	<select id="selectOneRequest_S" parameterType="int" resultType="Request_S">
    select * from pret_request_s 
    where requestnum_s = #{requestnum_s}
    </select>
	
	<select id="selectOneRequest_M" parameterType="int" resultType="Request_M">
    select * from pret_request_m 
    where requestnum_m = #{requestnum_m}
    </select>

	<select id="rsList2" parameterType="String" resultType="Request_S">
	select R.requestnum_s, R.requestcontent_s, T.translatedcontent_s, requestcondition_s 
	from pret_translated_s T 
	join pret_request_s R
	on T.requestnum_s = R.requestnum_s 
	where T.memberid = #{memberid}
	</select>

	<select id="rmList2" parameterType="String" resultType="Request_M">
	select R.requestnum_m, R.requestcontent_m, T.translatedcontent_m, requestcondition_m 
	from pret_translated_m T 
	join pret_request_m R
	on T.requestnum_m = R.requestnum_m 
	where T.memberid = #{memberid}
	</select>
	
    
	
</mapper>
