<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.pretLancer_7.dao.TranslatedDAO">

	<insert id="insertTS" parameterType="Request_S">
	insert into pret_translated_s (translatednum_s, requestnum_s, memberid, requestcontent_s)
	values (pret_trans_s_seq.nextval, #{requestnum_s}, #{memberid2}, #{requestcontent_s})
	</insert>

	<insert id="insertTM" parameterType="Request_M">
	insert into pret_translated_m (translatednum_m, requestnum_m, memberid, requestcontent_m)
	values (pret_trans_m_seq.nextval, #{requestnum_m}, #{memberid2}, #{requestcontent_m})
	</insert>
	
	<select id="selectTS" parameterType="int" resultType="Translated_S">
	select * from pret_translated_s where requestnum_s = #{requestnum_s}
	</select>
	
	<select id="selectTM" parameterType="int" resultType="Translated_M">
	select * from pret_translated_m where requestnum_m = #{requestnum_m}
	</select>
	
	<update id="submitTS" parameterType="Translated_S">
	update pret_translated_s
	set translatedcontent_s = #{translatedcontent_s}
	<if test="comment_st != null">, comment_st = #{comment_st}</if>
	where translatednum_s = #{translatednum_s} and memberid = #{memberid}
	</update>
	
	<update id="submitTM" parameterType="Translated_M">
	update pret_translated_m
	set translatedcontent_m = #{translatedcontent_m}
	<if test="comment_mt != null">, comment_mt = #{comment_mt}</if>
	where translatednum_m = #{translatednum_m} and memberid = #{memberid}
	</update>
	
	<delete id="cancelTS" parameterType="Translated_S">
	delete from pret_translated_s where memberid = #{memberid} and translatednum_s = #{translatednum_s} 
	</delete>
	
	<delete id="cancelTM" parameterType="Translated_M">
	delete from pret_translated_m where memberid = #{memberid} and translatednum_m = #{translatednum_m} 
	</delete>

	<select id="getMyTS" parameterType="Request_S" resultType="Translated_S">
	select * from pret_translated_s where requestnum_s = #{requestnum_s} and memberid = #{memberid2}
	</select>
	
	<select id="getMyTM" parameterType="Request_m" resultType="Translated_M">
	select * from pret_translated_m where requestnum_m = #{requestnum_m} and memberid = #{memberid2}
	</select>
	 
</mapper>
