<!-- http://localhost:8888/pretLancer/request/main -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>단, 중문 의뢰</title>

<!-- 부트스트랩 5.3.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- upper bar css 쓰면 왼쪽 사이드바가 작아진다. (부과효과인듯) -->
    <link rel="stylesheet" th:href="@{/assets/css/pages/upperBar.css}">
    <!-- 기본 부트스트랩 링크들 -->
    <link rel="stylesheet" th:href="@{/assets/css/main/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main/app-dark.css}">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.svg}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.png}" type="image/png">
    
	<link rel="stylesheet" th:href="@{/assets/css/shared/iconly.css}">
	<!-- 준규상 코드 -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/snBarLoader.js}"></script>
	
	<!-- 글자세기 -->
	<script>
		function calc(){
			document.getElementById('result').value = document.getElementById('content').value.length;
		}
	</script>
	
	<script>
  function calc() {
    var content = document.getElementById('content').value;
    var result = document.getElementById('result');
    var message = document.getElementById('message');
    var textarea = document.getElementById('content'); // textarea 요소 참조 추가
    var button = document.getElementById("submitBtn"); //의뢰하기 버튼
    var submitBtn = document.getElementById('submitBtn'); // 의뢰하기 버튼 요소 추가
    
 // 공백을 제외한 글자 수 세기
    var charCount = content.replace(/\s+/g, '').length;

//     result.value = content.length;

	result.value = charCount;
	cash.value = charCount*5;

	
    if(result.value === 0){
	    	submitBtn.disabled = true;
	    }
    else if (result.value < 1000) {
      message.innerHTML = "단문";
      submitBtn.disabled = false; // 버튼 활성화
    } 
    else if(result.value < 3000){
    	message.innerHTML = "중문";
    	document.getElementById('content').maxLength = 3000;
//     	textarea.maxLength = 3000; //허용 글자 수 제한
    	$("#content").attr("name","requestcontent_m");
    	$("#comment").attr("name", "comment_mr");
    	$("#form").attr("action","./insertRM");
    	submitBtn.disabled = false; // 버튼 활성화
    } 
    else {
    	message.innerHTML = "<span style='color: red;'>장문</span>";
    	submitBtn.disabled = true; // 버튼 비활성화
        alert("3000자를 초과했습니다. 더 이상 입력할 수 없습니다. 장문 페이지에서 의뢰하세요!");
//       result.value = 3000;
      // 글자 수 제한을 2999로 설정
      	document.getElementById('content').value = content.slice(0, 2999);
//         textarea.value = textarea.value.slice(0, 2999);
    }
    document.getElementById('content').addEventListener('input', calc);
  }
</script>
<script>
    function checkLanguages() {
        var startlang = document.getElementById('startlang').value;
        var endlang = document.getElementById('endlang').value;
        //var submitBtn = document.getElementById('submitBtn');

        if (startlang === endlang) {
            alert("시작 언어와 도착 언어를 다르게 선택해주세요!");
            submitBtn.disabled = true;
        }
        else if (startlang === "same1" || endlang === "same2"){
        	alert("언어를 선택해주세요.");
        	submitBtn.disabled = true; // 폼 제출을 막음
        }
        return true; // 폼 제출을 허용
    }
</script>
	<!-- 글자세기 -->
	<style>
    	.move-right-50 {transform: translateX(300px);}
		.custom-width {width: 1100px;}
		.b {font-weight: bold;}
    </style>
    <!-- 커멘트란 -->
    <style>
    	.answer_input {
		
			width : 300px;
			height : 100px;
			
			border : solid 2px #EFF0F0;
			border-radius : 5px;
		
		}</style>
		
	<style>
    .custom-label {
    	color: 00FFFFFF;
        background-color: #00FFFFFF;
        /* 다른 스타일 속성도 여기에 추가할 수 있습니다. */
    }
</style>
<style>
	.glass1{
		background: rgba( 71, 71, 71, 0.55 );
		box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
		backdrop-filter: blur( 6px );
		-webkit-backdrop-filter: blur( 6px );
		border-radius: 10px;
		border: 1px solid rgba( 255, 255, 255, 0.18 );
	}
	
	.glass2{
	background: rgba( 0, 0, 0, 0.55 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
	}
	.custom-row {
    margin-right: 15px; /* 왼쪽 여백과 동일한 값으로 설정 */
    }
    
    .card {
  		margin-left: auto;
  		margin-right: auto;
		}
	.shadow1{
    	 box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4)
    	}
	

</style>
    
</head>
<body>
	<div id="snBar-placeholder"></div>
	
	 <div id="main">
	            <header class="mb-3">
	                <a href="#" class="burger-btn d-block d-xl-none">
	                    <i class="bi bi-justify fs-3"></i>
	                </a>
	            </header>
	            
	
	<div class="page-heading">
		<br><br>
		<h1>의뢰하기</h1>
	    <h3>단, 중문 의뢰</h3>
	</div>
	
	<br>
	<br>

<form th:action="@{/request/insertRS}" method="post" id='form'>
	<div class="container">
	<div class="row g-5 glass2 custom-row">
<!-- 	background-color:#FAF9FF; -->
		<div class="card shadow1 col-md-6 col-lg-5 order-md-last mx-auto" style="background-color:#88A1E0;">
			<select id="startlang" name="startlang" onchange="checkLanguages()" class="form-select pt-1 mt-4 " >
			  <option value="same1">시작언어 선택</option>
			  <option value="KR">한국어</option>
			  <option value="JP">일본어</option>
			  <option value="EN">영어</option>

			</select>
			<select id="endlang" name="endlang" onchange="checkLanguages()" class="form-select pt-1 mt-4" >
			  <option value="same2">도착언어 선택</option>
			  <option value="KR">한국어</option>		  
			  <option value="JP">일본어</option>
			  <option value="EN">영어</option>
			</select>
			<br>
			<textarea name = "comment_sr" class = "answer_input" id = "comment_sr" placeholder = "문의글"></textarea>
			<br>
			<br>
			<span style="color: white; font-weight:bold;"><input  id="result" type="number" style="border:none; text-align:center; font-weight:bold;" class="col-sm-2"  value="0" readonly> 글자</span>
			<span id="message" style="color:black; font-weight:bold;"></span>
			<br>
			<div style="color: white; font-weight:bold;">
				<input id="cash" type="number" name="cash" style="border:none; text-align:center; font-weight:bold;" class="col-sm-2" value="0" readonly> 캐쉬
			</div>
			<br><br>
			<br><br>
			<div th:action="@{/request/insertRS}" method="post" id='form' onsubmit="return checkLanguages()" style="text-align: center;">
				<input id="submitBtn" type="submit" class="btn btn-primary" onkeypress="calc()" disabled value="의뢰하기" style="width: 150px;">
			</div>
			<br>
			<br>
			<br>
			<span class="badge text-bg-danger rounded-pill" style="font-size: 1.2em; padding: 10px 15px;">&lt;&lt; 한번 요청 하면 취소할 수 없으니, 주의하세요! &gt;&gt;</span>
		</div>
		<div class="card col-md-6 col-lg-6 mx-auto">
				<textarea  class="textarea-fit-card" placeholder= "글자를 입력하세요." name="requestcontent_s" id='content' rows="30" cols="45" onkeydown="calc()" onkeyup="calc()" onkeypress="calc()"></textarea>	
		</div>
	</div>
	</div>
</form>

	<!-- <div id="main"> -->
	</div> 
	<!-- 부트스트랩  JS -->
    <script th:src="@{/assets/js/bootstrap.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>
    
<!-- Need: Apexcharts -->
<script th:src="@{/assets/extensions/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/js/pages/dashboard.js}"></script>

</body>
</html>