<!-- http://localhost:8888/pretLancer/request/main -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>단, 중문 의뢰</title>

<!-- 부트스트랩 5.3.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- upper bar css 쓰면 왼쪽 사이드바가 작아진다. (부과효과인듯) -->
    <link rel="stylesheet" th:href="@{/assets/css/pages/upperBar.css}">
    <!-- 기본 부트스트랩 링크들 -->
    <link rel="stylesheet" th:href="@{/assets/css/main/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main/app-dark.css}">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.svg}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.png}" type="image/png">
    
	<link rel="stylesheet" th:href="@{/assets/css/shared/iconly.css}">
	<!-- 준규상 코드 -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/snBarLoader.js}"></script>
	
	<!-- 글자세기 -->
	<script>
		function calc(){
			document.getElementById('result').value = document.getElementById('content').value.length;
		}
	</script>
	
	<script>
  function calc() {
    var content = document.getElementById('content').value;
    var result = document.getElementById('result');
    var message = document.getElementById('message');

    result.value = content.length;

    if (result.value < 1000) {
      message.innerHTML = "단문";
    } 
    else if(result.value < 3000){
    	message.innerHTML = "중문";
    	$("#content").attr("name","requestcontent_m");
    	$("#comment").attr("name", "comment_mr");
    	$("#form").attr("action","./insertRM");
    } 
    else {
      message.innerHTML = "장문";
    }
  }
</script>
	<!-- 글자세기 -->
	<style>
    	.move-right-50 {transform: translateX(300px);}
		.custom-width {width: 1100px;}
		.b {font-weight: bold;}
    </style>
    <!-- 커멘트란 -->
    <style>
    	.answer_input {
		
			width : 300px;
			height : 100px;
			
			border : solid 2px #EFF0F0;
			border-radius : 5px;
		
		}</style>
		
	<style>
    .custom-label {
    	color: 00FFFFFF;
        background-color: #00FFFFFF;
        /* 다른 스타일 속성도 여기에 추가할 수 있습니다. */
    }
</style>
<style>
.glass{
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 3px );
	-webkit-backdrop-filter: blur( 3px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}
	
</style>
    
</head>
<body>
	<div id="snBar-placeholder"></div>
	
	 <div id="main">
	            <header class="mb-3">
	                <a href="#" class="burger-btn d-block d-xl-none">
	                    <i class="bi bi-justify fs-3"></i>
	                </a>
	            </header>
	            
	
	<div class="page-heading">
		<br><br>
		<h1>의뢰하기</h1>
	    <h3>단, 중문 의뢰</h3>
	</div>

<form th:action="@{/request/insertRS}" method="post" id='form'>
	<div class="row g-5">
		<div class="card glass col-md-6 col-lg-5 order-md-last" style="box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); text-align:left; background-color:#FAF9FF;">
			<select id="selectbox" name="startlang" onchange="" class="form-select pt-1 mt-4 " style="height: 33px;width:40%; vertical-align: middle;">
			  <option selected>시작언어 선택</option>
			  <option value="EN">ENGLISH</option>
			  <option value="JP">JAPNANESE</option>
			  <option value="KR">KOREAN</option>
			</select>
			<select id="selectbox" name="endlang" onchange="" class="form-select pt-1 mt-4" style="height: 33px;width:40%; vertical-align: middle;">
			  <option selected>도착언어 선택</option>
			  <option value="EN">ENGLISH</option>
			  <option value="JP">JAPNANESE</option>
			  <option value="KR">KOREAN</option>
			</select>
			<br>
			<textarea name = "comment_sr" class = "answer_input" id = "comment_sr" placeholder = "문의글"></textarea>
			<br>
			<br>
			<span><input type="number" id="result" value="0" readonly style="border:none;" class="col-sm-3">글자</span>
			
			<span id="message" style="color:black;" ></span>
			<br><br>
			<div>
			<input id="cash" type="number" name="cash" class="col-sm-3">
			</div>
			<br>
			<div>
			<input type="submit" class="btn btn-primary" value="의뢰하기">
			</div>
			
		</div>

		<div class="col-md-5 col-lg-6">
			
				<textarea name="requestcontent_s" id='content' rows="29" cols="60" onkeydown="calc()" onkeyup="calc()" onkeypress="calc()"></textarea>
			
		</div>
	</div>
</form>
	<!-- <div id="main"> -->
	</div> 
	<!-- 부트스트랩  JS -->
    <script th:src="@{/assets/js/bootstrap.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>
    
<!-- Need: Apexcharts -->
<script th:src="@{/assets/extensions/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/js/pages/dashboard.js}"></script>

</body>
</html>