<!-- http://localhost:8888/pretLancer/main -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TITLE</title>
    
    <!-- 부트스트랩 5.3.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- upper bar css 쓰면 왼쪽 사이드바가 작아진다. (부과효과인듯) -->
    <link rel="stylesheet" th:href="@{/assets/css/pages/upperBar.css}">
    <!-- 기본 부트스트랩 링크들 -->
    <link rel="stylesheet" th:href="@{/assets/css/main/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main/app-dark.css}">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.svg}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.png}" type="image/png">
    
   <link rel="stylesheet" th:href="@{/assets/css/shared/iconly.css}">

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script>
    $(document).ready(function() {
        getMessage();

        // 알림 보이기, 가리기
        $("#pbt").click(function() {
            let url =  "http://localhost:8888/pretLancer/messageCk"
            $("#push").slideToggle();

            $.ajax({
                type:"GET",
                url: url,
                success:function(data) {
                    $("#pop").hide();
                },
                error:function() {
                    alert(JSON.stringify(e));
                }
            });
        }); // end

        // 알림 하나 지우기
        $(document).on("click",".delBt", function() {
            let msn = $(this).attr("name");
            let url = "http://localhost:8888/pretLancer/messageCl"
        $.ajax({
            type:"GET",
            url: url,
            data:{"messagenum" : msn},
            success: function() {
                getMessage();
                $("#push").show();
            },
            error: function(e) {
                alert(JSON.stringify(e));
            }
        });

        })
        
        // 이돌과 동시에 알림 지우기
        $(document).on("click",".url", function() {

            let link = $(this).attr("id");
            let msn = $(this).attr("name");
            let url = "http://localhost:8888/pretLancer/messageCl"
        $.ajax({
            type:"GET",
            url:url,
            data:{"messagenum" : msn},
            success: function() {
                window.location.href = link;
            },
            error: function(e) {
                alert(JSON.stringify(e));
            }
        });

        })

        

    });

    // 알림 불러오는 
    function getMessage() {
        let userid = $("#userid").val();
        let url ="http://localhost:8888/pretLancer/message"
        $.ajax({
            type:"GET",
            url:url,
            // data:{"memberid" : userid},
            dataType:"json",
            success: function(data) {   
                
                let str = "";
                if(data != null) {

                
                    $.each(data,function(i,n) {

                        str += ` 
                                <div  class="list-group-item list-group-item-action d-flex gap-3 py-3 col-6 "  aria-current="true"  >
                                    <img src="/Users/sung_ori/pretLancer_7/pretLancer_7/src/main/resources/static/img/paper.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                                    <div class="d-flex gap-2 w-100 justify-content-between url" id="${n.href}" name="${n.messagenum}">
                                        <div>
                                            <h6 class="mb-0">새 알림!</h6>
                                            <pre class="mb-0 opacity-75">${n.message}</pre>
                                        </div>
                                        </div>
                                        <input type="button" class="btn btn-sm btn-danger delBt col-1" name="${n.messagenum}" value="X">
                                </div>`;
                    });
                    $("#push").html(str);

                    $.each(data,function(i,n) {
                        if(n.checked == "N") {
                        $("#pop").show();
                        return;
                    }
                    });
                
                }
            },
            error: function() {
                alert(JSON.stringify(e));
            }
        });
    }

    // function clickpush() {
    //     let bt = $("#bpt")
    //     let a = $("#push").attr("style");
        
    //     if(a == "display: none;") {
    //         $("#push").show();
            
    //     }else{
    //         $("#push").attr("style","display: none;");
    //     }

    // }

    


   </script>
   <style>
       .move-right-50 {transform: translateX(300px);}
       
      .custom-width {width: 1100px;}
      
      .b {
      font-weight: bold;
      color: #fefefe;
      }
    </style>
    
    <style>
      .background{
          background-image: url(./img/face.jpg);
          background-size: cover;
          width: 600px;
          height: 600px;
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .font-color{
         color: white;
      }
      .backdrop{
          width: 300px;
          height: 300px;

           background-color: rgba(0,0,128,0.1); 
          border-radius: 30px;
      }
    
    </style>
    <style>
       .headerBar {
/*          background: #0071E3; */
         background-image: linear-gradient(0deg, #5798FC, #3D72E9);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }
    </style>
    
    <style>
       .buttonFixed{
          position: fixed;
          right: 100px;
          top: 0px;
       }
       .bg-danger{
        position: fixed;
        right: 90px;
       }
       .push{
        position: fixed;
        right: 90px;
       }
       .whiteF{
       color:white; 
       font-weight:bold;
       }
       
    </style>

</head>
<!--  <a class="navbar-brand col-lg-3 me-0" href="#">Centered nav</a>-->
<body>
    
   <input type="hidden" id="userid" th:value="${user.memberid}">
<div class="container">
    <header class="d-flex flex-wrap justify-content-between py-2 fixed-top headerBar" style="z-index: 10; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);">
        <div class="collapse navbar-collapse d-lg-flex" >
            
            <div class="row">
                
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div th:if="${rql == null}">
                            <span class="whiteF">번역좀 해 !</span>
                        </div>
                        <div th:if="${rql != null}">
                            <span class="whiteF">번역 마감 기한</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 " ><span th:text="${user.mem_level}" class="whiteF"></span><span class="whiteF">등급</span></div>
                    <div class="col-md-3 col-sm-3 "><span th:text="${user.memberid}" class="whiteF"></span><span class="whiteF">님</span></div>
                    <div class="col-md-3 col-sm-3 "><span th:text="${user.point}" class="whiteF"></span><span class="whiteF"> Pt</span></div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-3 ">
                        <div th:if="${rql == null}">
                            <span class="whiteF">게으름뱅이 새끼야!</span>
                        </div>
                        <div th:if="${rql != null}">
                            <span th:text="${rql.enddate}"></span><span class="whiteF"> 까지</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 whiteF">내 경험치</div>
                    <div class="col-md-3 col-sm-3 ">
                        <div class="progress" role="progressbar" aria-label="Basic example" th:aria-valuenow="${user.mem_ex}" aria-valuemin="0" aria-valuemax="100">
                            <div th:class="|progress-bar w-${user.mem_ex}|"></div>
                        </div>
                    </div>

                    
                    <div class="col-md-3 col-sm-3"><span th:text="${user.cash}" class="whiteF"></span><span class="whiteF"> Cash</span></div>
                    
                    
                    <div class="col-md-3 col-sm-3" >
                        <button class="btn btn-primary buttonFixed  " id="pbt">
                            <span class="position-absolute top-40 start-100  translate-middle p-2 bg-danger border border-light rounded-circle" id="pop" style="display: none;">
                                <span class="visually-hidden">New alerts</span>
                            </span>
                            <i class="bi bi-bell-fill" style="font-size: 2em;"></i>
                        </button>
                        <!-- <button class="btn btn-primary"><i class="bi bi-chat-fill" style="font-size: 2em;"></i></button> -->
                        <div class="list-group overflow-auto push" id="push" style="display: none;">
                            
                        </div>
                    </div>

                
               
                </div>
                
                
            </div>

            
            
            
        </div>
    </header>
    
</div>
   
   <!--  <div class="container" style="padding-bottom: 0; margin-bottom: 0;">
       <header class="d-flex flex-wrap justify-content-center py-3 fixed-top headerBar" style="z-index: 10; padding-bottom: 0; margin-bottom: 0;">
           <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
               <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
               <span class="fs-4">Simple header</span>
           </a>
        <ul class="navbar-nav col-lg-10 d-flex">
                       <div class="row move-right-50" style="backround-color: #fff;">
                          <div class="row">
                             <div class="col-md-3 col-sm-3 b">프로젝트 마감기한</div>
                           <div class="col-md-3 col-sm-3 b">1레벨</div>
                           <div class="col-md-3 col-sm-3 b">OOO님</div>
                           <div class="col-md-3 col-sm-3 b">0p</div>
                          </div>
                          <div class="row">
                             <div class="col-md-3 col-sm-3 b">23/08/25 00:00</div>
                           <div class="col-md-3 col-sm-3 b">0</div>
                           <div class="col-md-3 col-sm-3 b">===========</div>
                           <div class="col-md-3 col-sm-3 b">0p</div>
                         </div>
                      </div> 
                   </ul>
          </header>
      </div> -->



    <div id="app" >
        <div id="sidebar" class="active" >
            <div class="sidebar-wrapper active" style="background-color: #F5F5F7; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);">
    <div class="sidebar-header position-relative">
        <div class="d-flex justify-content-between align-items-center">
            <div class="logo">
                <a th:href="@{/main}"><img th:src="@{/assets/images/logo/pretLancer.svg}" alt="Logo" style="width:160px; height:90px;"></a>
            </div>
            <div class="theme-toggle d-flex gap-2  align-items-center mt-2">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--system-uicons" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2" opacity=".3"></path><g transform="translate(-210 -1)"><path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path><circle cx="220.5" cy="11.5" r="4"></circle><path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"></path></g></g></svg>
                <div class="form-check form-switch fs-6">
                    <input class="form-check-input  me-0" type="checkbox" id="toggle-dark" >
                    <label class="form-check-label" ></label>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z"></path></svg>
            </div>
            <div class="sidebar-toggler  x">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu card" style="width: 24rem; background-color:FFFFFF; margin: 0 auto; box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);" >
        <ul class="menu">
            <li
                class="sidebar-item active ">
                <a href="/pretLancer/main" class='sidebar-link'>
                    <i class="bi bi-house-fill"></i>
                    <span>홈</span>
                </a>
            </li>
            
            <div class="col ps-0">
                      <hr class="mb-0 navbar-vertical-divider">
            </div>
            
            <li
                class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-translate"></i>
                    <span>번역</span>
                </a>
                <ul class="submenu ">
                    <li class="submenu-item ">
                        <a th:href="@{/translated/exam}">연습문제</a>
                    </li> 
                    <li class="sidebar-item has-sub">
                   <a href="index.html" class='sidebar-link'>
                       <i class="bi bi-file-person-fill"></i>
                       <span>의뢰하기</span>
                   </a>
                   <ul class="submenu">
                      <li class="submenu-item ">
                             <a th:href="@{/long/main}">장문의뢰</a>
                       </li>
                       <li class="submenu-item ">
                       <!-- http://localhost:8888/pretLancer/request/main -->
                             <a th:href="@{/request/main}">단, 중문의뢰</a>
                       </li>
                   </ul>
               </li>
               <li class="sidebar-item has-sub">
                   <a href="index.html" class='sidebar-link'>
                       <i class="bi bi-pencil-square"></i>
                       <span>번역하기</span>
                   </a>
                      <ul class="submenu">
                         <li class="submenu-item ">
                         		<a th:href="@{/translated/insertTS}">단문</a>
                          </li>
                          <li class="submenu-item ">
                                <a th:href="@{/translated/insertTM}">중문</a>
                          </li>
                          <li class="submenu-item ">
                                <a th:href="@{/long/auctionList}">장문 경매 리스트</a>
                          </li>
                      </ul>
                  </li>
                  <li class="sidebar-item has-sub">
                      <a href="index.html" class='sidebar-link'>
                          <i class="bi bi-award-fill"></i>
                          <span>평가하기</span>
                      </a>
                      <ul class="submenu">
                         <li class="submenu-item ">
                                <a th:href="@{/evaluation/getES}">단문</a>
                          </li>
                          <li class="submenu-item ">
                                <a th:href="@{/evaluation/getEM}">중문</a>
                          </li>
                          
                      </ul>
                  </li>
                </ul>
            </li>
            
            <div class="col ps-0">
                      <hr class="mb-0 navbar-vertical-divider">
            </div>
            
            <li
                class="sidebar-item">
                <a th:href="@{/community/main}" class='sidebar-link'>
                    <i class="bi bi-file-earmark-text"></i>
                    <span>게시판</span>
                </a>
            </li>
            
            <div class="col ps-0">
                      <hr class="mb-0 navbar-vertical-divider">
            </div>
            
            <li
                class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-file-earmark-person"></i>
                    <span>내 정보</span>
                </a>
                <ul class="submenu ">
                    <li class="submenu-item ">
                        <a th:href="@{/my_page/main}">마이페이지</a>
                    </li>
                    <li class="submenu-item ">
                        <a href="layout-vertical-1-column.html">프로필 설정</a>
                    </li>
                    <li class="submenu-item ">
                        <a th:href="@{/reward/main}">리워드</a>
                    </li>
                    <li class="submenu-item ">
                        <a th:href="@{/member/logout}">로그아웃</a>
                    </li>
                </ul>
            </li>
            
            <div class="col ps-0">
                      <hr class="mb-0 navbar-vertical-divider">
            </div>
            
            <li
                class="sidebar-item">
                <a th:href="@{/qna}" class='sidebar-link'>
                    <i class="bi bi-question-circle"></i>
                    <span>문의</span>
                </a>
            </li>     
        </ul>
    </div>
</div>
   </div>
      </div> <!-- div id= app -->

     <!-- 부트스트랩  JS -->
    <script th:src="@{/assets/js/bootstrap.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>
    
<!-- Need: Apexcharts -->
<script th:src="@{/assets/extensions/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/js/pages/dashboard.js}"></script>

</body>

</html>