<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board List</title>
</head>
<body>
    <h1>커뮤니티  깡통</h1>
    <li>
        <ol><a th:href="@{/community/write}">글 쓰러 가기</a></ol>
    </li>
    <div>
        <form th:action="@{/member/logout}" method="post">
            <input type="submit" value="로그아웃">
        </form>
        <a th:href="@{/member/logout}">로그아웃</a>
    </div>

    <div th:each="b : ${list}" style="border: solid 2px black;">
        <!-- <div th:text="${b.boardnum}"></div>   -->
        <div><a th:text="${b.boardtitle}" th:href="@{/community/read(boardnum=${b.boardnum})}"></a></div>
        <div th:text="${b.memberid}"></div>
        <div th:text="${b.hits}"></div>
        <div th:text="${b.inputdate}"></div>
    </div>
</body>
</html>