<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="_csrf" th:content="${_csrf.token}">  --> 
    <!-- <meta name="_csrf_header" th:content="${_csrf.headerName}"> --> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script th:src="@{/assets/js/jquery-3.6.0.js}"></script>

<script>
    $(document).ready(function() {
        readReply();
        readInfo();
        $("#rBt").click(writeReply);
        $(document).on("click", ".dBt", deleteReply);
        $(document).on("click", "#recoBt", recoUp);
        // $("#recoBt").click(recoUp);


        function writeReply() {
            let reply = $("#inputReply").val();
            let bdn = $("#boardNum").val();
            let header = $("meta[name='_csrf_header']").attr('content');
            let token = $("meta[name='_csrf']").attr('content');
            
            $.ajax({
                type:"POST",
                url: "insertReply",
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                data: {"replycontent" : reply ,
                        "boardnum" : bdn },
                success: function() {
                    alert("댓글 작성 성공");
                    readReply();
                },
                error: function(e) {
                    console.log(JSON.stringify(e));
                }
            });
        } // End OF write

        function readReply() {
            let bdn = $("#boardNum").val();
            $.ajax({
                type:"GET",
                url: "readReply",
                data: {"boardnum" : bdn },
                dataType: "json",
                success: function(list) {
                    alert("댓글 읽어오기 성공!");
                    let str = `<table>
                                <tr>
                                <td>작성자</td>
                                <td>댓글 내용</td>
                                <td>작성 시간</td>
                                <td>추천 수</td>
                                <td></td>
                                </tr>`;
                    
                    $.each(list,function(i,n){
                        str += `<tr>
                            <td>${n.memberid}</td>
                            <td>${n.replycontent}</td>
                            <td>${n.replydate}</td>
                            <td>${n.reply_recommend}</td>`;
                        
                        // 댓글 다 만들고 안보이게 만든다.
                        str += `<td>
                
                                <span style="display: none;" class="${n.memberid}">
                                <input type="button" id="${n.replynum}" class="dBt" value="삭제">
                                </span>
                                </td></tr>`;
                    });
                    str += "</table>";
                    $("#replyBox").html(str);
                    buttonDisplay();

                },
                error: function(e) {
                    alert("댓글 못 불러옴")
                    console.log(JSON.stringify(e));
                }
            });
        }// End Of read reply

        function deleteReply() {
            let r = $(this).attr("id");
            let n = $("#bdn").val();
            console.log(r);
            console.log(n);
            $.ajax({
                url:"deleteReply",
                type:"get",
                data: {replynum: r},
                success: function(rst){
                    alert("삭제되었습니다.");
                    readReply();
                },
                error: function(e) {
                    alert(JSON.stringify(e));
                }
            });
        }
        // 댓글 주인이면 글 버튼 보이게 한다.
		function buttonDisplay() {
            let lid = $("#loginId").val();
            console.log(lid)
            $('.'+lid).show();
        }

        function readInfo() {
            let bdn = $("#boardNum").val();

            $.ajax({
                type:"GET",
                url:"readInfo",
                data:{"boardnum" : bdn},
                dataType:"json",
                success: function(board) {
                    let str = ` 
                        🧚‍♀️
                        <span>${board.memberid}</span>
                        🕰️
                        <span>${board.inputdate}</span>
                        👁️
                        <span>${board.hits}</span>
                        <input type="button" id="recoBt" value="👍">
                        <span>${board.recommend}</span>
                        <input type="button" id="decoBt" value="👎">
                        <span>${board.decommend}</span>
                        <input type="button" id="polBt" value="🚨">
                        <span>${board.police}</span>`;

                        $("#info").html(str);
                },
                error: function(e) {

                }
            })
        }

        function recoUp(){
            let bdn = $("#boardNum").val();

            $.ajax({
                type: "GET",
                url : "recommendUp",
                data:{"boardnum" : bdn},
                success: function() {
                    readInfo();
                },
                error: function(e) {
                    console.log(JSON.stringify(e));
                }

            });
        }
        
    });// End Of jQuery
</script>

</head>

<body>
    
    <h1>글 읽기</h1>
    <div>
        <input type="hidden" th:value="${board.boardnum}" id="boardNum">
        <input type="hidden" th:value="${#authentication.name}" id="loginId">
        <div th:text="${board.boardtitle}">
        </div>
        <div>
            <p th:if="${#authentication.name} == ${board.memberid}">
                <a th:href="@{/community/delete(boardnum=${board.boardnum})}">글 지우기</a>
            </p>
            <p th:if="${#authentication.name} == ${board.memberid}">
                <a th:href="@{/community/updateForm(boardnum=${board.boardnum})}">글 수정</a>
            </p>
        </div>
        <div id = "info">
            <!-- 🧚‍♀️
            <span th:text="${board.memberid}"></span>
            🕰️
            <span th:text="${board.inputdate}"></span>
            👁️
            <span th:text="${board.hits}"></span>
            <input type="button" id="recoBt" value="👍">
            <span th:text="${board.recommend}"></span>
            <input type="button" id="decoBt" value="👎">
            <span th:text="${board.decommend}"></span>
            <input type="button" id="polBt" value="🚨">
            <span th:text="${board.police}"></span> -->
        </div>
        
        <div th:text="${board.boardcontent}">

        </div>

        <div>
            <input type="text" id="inputReply" name="replycontent">
            <input type="button" id="rBt" value="댓글 작성">
        </div>
        <div id="replyBox">
        </div>
    </div>
    
</body>
</html>