<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <title>PAYBACK</title>

    <script>

        function validation() {
            // TODO: 출금 가능 한 금액인지 확인하는 ajax코드. 

        }
        
    </script>
</head>
<body>
    <!-- 진짜로 돈을 돌려줄 수는 없고 신청을 하면 신청 분의 10프로 떼고 돌려준다는 메일을 보낼 거다. -->
    <input type="hidden" id="email" value="${userinfo.email}">
    <!-- 출금을 신청하면 10% 제하고 입금된다는 설명이 필요함. -->
    <div class="container">
        <!-- 출금 가능 금액 -->
        <h1 th:text="${userinfo.cash}"></h1>
        <!-- 출금 하고싶은 금액 -->
        <input class="form-text" type="text">
    </div>
    
</body>
</html>