<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <title>요청 상세정보</title>
    <script>
        $(document).ready(function() {
            $("#uploadBtn").on("click", function() {
                // FormData 인스턴스 생성
                var formData = new FormData($("#form")[0]);

                // 추가적인 텍스트 데이터 전송
                formData.append("requestnum_l", $("#requestnum").val()); // 원하는 텍스트 데이터를 추가

                $.ajax({
                    url: "uploadTest", // 요청을 처리할 서버의 엔드포인트 URL
                    type: "POST", // HTTP 메서드 (POST)
                    data: formData, // FormData 인스턴스 전송
                    processData: false, // 데이터 처리 방지
                    contentType: false, // 컨텐츠 타입 설정 방지
                    success: function() {
                        alert("번역 완료!");
                        window.opener.location.reload();
                        window.close();
                    },
                    error: function(e) {
                        alert(JSON.stringify(e));
                    }
                });
            });
        });

    </script>
</head>
<body>
    <!-- 번역가가  번역할 건에 대한 상세정보 -->
    <h1>요청 상세 정보 (수락한 요청)</h1>

    <input type="hidden" id="requestnum" th:value="${request.requestnum_l}">
    <div class="container">
        <div>
            <span>요청 제목 : </span>
            <span class="h2 text-center" th:text="${request.title}">요청 제목</span>
        </div>
        
        <div>
            <span>카테고리 : </span>
            <span th:text="${request.category}">카테고리</span>
        </div>
        <div>
            <span>마감 날짜 : </span>
            <span th:text="${request.enddate}"></span>
        </div>
        <div>
            <span>글자 및 페이지 수 : </span>
            <span th:text="${request.commentpage}"></span>
        </div>
        <div>
            <div>요청 상세 설명 : </div>
            <div th:text="${request.comment_lr}"></div>
        </div>
        <div>
            <span>요청 금액 : </span>
            <span th:text="${request.cash}"></span>
        </div>
        <div>
            <span>시작 언어 : </span>
            <span th:if="${request.startlang == 'KR'}">한국어</span> 
            <span th:if="${request.startlang == 'JP'}">일본어</span> 
            <span th:if="${request.startlang == 'EN'}">영어</span> 
        </div>
        <div>
            <span>도착 언어 : </span>
            <span th:if="${request.endlang == 'KR'}">한국어</span> 
            <span th:if="${request.endlang == 'JP'}">일본어</span> 
            <span th:if="${request.endlang == 'EN'}">영어</span> 
        </div>
        <div>
            <span>번역할 파일 다운로드 : </span>
            <a th:href="|@{/donwloadR?fileName=}${request.savedrfile}|" class="btn btn-success" th:download="|${request.memberid}_${request.title}|">번역할 파일</a>
        </div>
        <div>
            <input type="hidden" name="requestnum_l" id="requestnum" th:value="${request.requestnum_l}">
            <form id="form"   method="post" enctype="multipart/form-data" >
                <label for="formFile" class="form-label">번역 완료 파일 업로드</label>
                <input name="uploadfile" class="form-control" type="file" id="formFile">
            </form>
            <input id="uploadBtn" type="button" class="btn btn-warning" value="번역 완료본 제출">
        </div>
        
    </div>
    
</body>
</html>