<!-- http://localhost:8888/pretLancer/long/auctionList -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <title>auctionList</title>
    <script>
        // let width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        // let height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
        $(document).ready(function() {
            $(".btn").click(openAuctionInfo);

            function openAuctionInfo() {
                let width = window.screen.width;
                let height = window.screen.height;

                let openWidth = width/2;
                let openHeight = height/2;

                let top = height/4;
                let left = width/4;

                let requestnum =  $(this).attr("id");

                window.open("http://localhost:8888/pretLancer/long/readAuctionInfo?requestnum_l="+requestnum ,'경매 입찰 페이지', ' width='+openWidth+',height='+openHeight+', top='+top+', left='+left);
            }
            
        });
        function pagingFormSubmit(curruntPage) {
			
			let form = document.getElementById('pagingForm');
			let page = document.getElementById('page');
			page.value = curruntPage;
			
			form.submit();
		}
        
        $(document).ready(function() {
            const urlParams = new URL(location.href).searchParams;
            const type = urlParams.get('type');
            console.log(name);
            $("#pagingForm").attr("action","http://localhost:8888/pretLancer/long/auctionList?type="+ type);
    
        })


    </script>
    <!-- 상단 바 코드 -->
    
    <!-- 부트스트랩 5.3.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- upper bar css 쓰면 왼쪽 사이드바가 작아진다. (부과효과인듯) -->
    <link rel="stylesheet" th:href="@{/assets/css/pages/upperBar.css}">
    <!-- 기본 부트스트랩 링크들 -->
    <link rel="stylesheet" th:href="@{/assets/css/main/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main/app-dark.css}">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.svg}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.png}" type="image/png">
    
	<link rel="stylesheet" th:href="@{/assets/css/shared/iconly.css}">
	<!-- 준규상 코드 -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/snBarLoader.js}"></script>
	<style>
    	.move-right-50 {transform: translateX(300px);}
		.custom-width {width: 1100px;}
		.b {font-weight: bold;}
    </style>
    <style>
    	.shadow1{
    	 box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2)
    	}
    </style>
</head>
<body>
    <!-- 올라온 경매 리스트 -->
	<!-- 상단바 -->
	<div id="snBar-placeholder"></div>
	
	 <div id="main">
	            <header class="mb-3">
	                <a href="#" class="burger-btn d-block d-xl-none">
	                    <i class="bi bi-justify fs-3"></i>
	                </a>
	            </header>
	            <br>
	<div class="page-heading">
	    <h3>의뢰하기</h3>
	</div>
	<!-- 상단바 -->
    <div class="container">
        <h1>번역 경매 리스트</h1>
        <div class=" row container-fluid">
            <div>
                <a class="lead" th:href="@{/long/auctionList?type=ALL}">전체</a> /
                <a class="lead" th:href="@{/long/auctionList?type=YS}">유튜브 자막</a> /
                <a class="lead" th:href="@{/long/auctionList?type=PP}">논문</a> /
                <a class="lead" th:href="@{/long/auctionList?type=NV}">소설</a> /
                <a class="lead" th:href="@{/long/auctionList?type=OT}">기타</a> /
            </div>
            <div th:each="auction, index : ${auctionList}" class="col-4 card shadow1">
                <img th:src="@{/img/paper.png}" class="card-img-top" style="height: 50%;" alt="임시 서류 이모티콘">
                <div class="card-body">
                    <h3>카테고리</h3>
                    <h5 class="card-title"  th:text="${auction.category}"></h5>
                    <h3>페이지 수</h3>
                    <h5 class="card-text"  th:text="${auction.commentpage}"></h5>
                    <h3>낙찰기한</h3>
                    <h5 class="card-text"  th:text="${auction.enddate}"></h5>
                    <h3>작업기한</h3>
                    <h5 class="card-text"  th:text="${auction.workdate}"></h5>
                    <h3>입찰금액</h3>
                    <h5 class="card-text"  > [[${auction.cash}]]</h5>

                    <a th:id="${auction.requestnum_l}" class="btn btn-primary"
                    th:if="${#authentication.name} != ${auction.memberid}" >입찰하러 가기</a>
                    <a th:id="${auction.requestnum_l}" class="btn btn-danger"
                    th:if="${#authentication.name} == ${auction.memberid}" >나의 경매</a>
                </div>
            
            </div>
        </div>
        
        <div id="pagingNavBar" class=" h4 text-center"  >
            <a th:href="|javascript:pagingFormSubmit(${navi.currentPage - navi.pagePerGroup})|">◁◁</a>
            <a th:href="|javascript:pagingFormSubmit(${navi.currentPage - 1})|">◀</a> 
            <!-- for each로 출력 			타임리프의 객체/ 수열을 만들어냄. -->
            <span th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}"> 
                <th:block th:if="${counter == navi.currentPage}"><b></th:block>
                    <a th:text="${counter}" th:href="|javascript:pagingFormSubmit(${counter})|"></a>&nbsp;
                <th:block th:if="${counter == navi.currentPage}"></b></th:block>
            </span>
            
            <a th:href="|javascript:pagingFormSubmit(${navi.currentPage + 1})|">▶</a> 
            <a th:href="|javascript:pagingFormSubmit(${navi.currentPage + navi.pagePerGroup})|">▷▷</a>
        </div>
        <form id="pagingForm" th:action="@{/long/auctionList}" method="get">
            <input type="hidden" name="page" id="page">
        </form>
    </div>
    
    <!-- <div id="main"> -->
    </div> 
     <!-- 부트스트랩  JS -->
    <script th:src="@{/assets/js/bootstrap.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>
    
<!-- Need: Apexcharts -->
<script th:src="@{/assets/extensions/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/js/pages/dashboard.js}"></script>
</body>
</html>