<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <title>경매 요청 상세 정보</title>
    <script>
        
        $(document).ready(function() {
            $("#bidButton").click(bid);
            readAucitonPrice();
            bidValidation();
            nowTranslateValidation();
            $(document).on("click",".btn-warning", successfulBid);


            
        });

        function readAucitonPrice() {
            let acn = $("#auctionNum").val();

            $.ajax({
                type:"GET",
                url: "readAuctionPrice",
                data: {"auctionNum" : acn},
                dataType:"json",
                success: function(data) {
                    let str = ""
                    $.each(data,function(i,n) {
                    
                        str += `<div class="col-1"></div>

                        <div class="col-10 card-bodt" style="font-weight:bold; color:white;">
                        <span>${n.mem_level} 등급</span>
                        <span>${n.memberid}</span>
                        <span>입찰가</span><span id="${n.memberid}">${n.translatervalue}</span>
                        &nbsp;
                        <span><input type="button" value="낙찰" name="${n.memberid}" class="btn btn-warning rounded-pill" style="display : none"></span>
                        <hr>
                        </div>
                        <div class="col-1"></div>
                        `;
                    });
                    // 아무도 입찰 안했을 때 메세지
                    if(str == "") {
                    	str += '<h1 style="color: navy;">입찰한 번역가가 <br> 아직 존재하지 않습니다</h1>';
                        }
                        $("#auctionPrice").html(str);
                        btnDisplay();

                },
                error: function(e) {
                    alert(JSON.stringify(e));
                }
            });
        } // end of read of price
        // TODO:  2.입찰 중복 확인하기 3.입찰가격 수정하기
        function bid() {
            let bidCash = $("#cash").val();
            let acn = $("#auctionNum").val();
            
            $.ajax({
                type:"GET",
                url:"bid",
                data:{  "translatervalue" : bidCash,
                        "auctionnum": acn
                    },
                success: function() {
                    alert("입찰 완료 되었습니다.")
                    readAucitonPrice();
                    bidValidation();
                },
                error: function(e) {
                    alert(JSON.stringify(e));
                }
            });
        }

        function bidValidation(){
            let acn = $("#auctionNum").val();

            $.ajax({
                type:"GET",
                url:"bidValidation",
                data:{"auctionNum" : acn},
                dataType:"text",
                success: function(data) {
                    
                    if(data == "false") {
                        $("#bidButton").val("입찰 완료");
                        $("#bidButton").attr("class","btn btn-danger");
                        $("#bidButton").attr("disabled","true");
                        $("#cash").attr("readonly","true");
                    }
                },
                error: function(e) {
                    alert(JSON.stringify(e));
                }
            });
        }
        function successfulBid() {
            let rst = confirm("정말 낙찰 하시겠습니까?");
            if(!rst) return;

            let biderid = $(this).attr("name");
            let rql = $("#requestNum").val();
            let acn = $("#auctionNum").val();
            let cash = $("#"+biderid).text();

            $.ajax({
                type:"GET",
                url:"cashCheck",
                data:{"cash" : cash},
                dataType:"text",
                success: function(data) {
                    // 돈 있다고 확인 하면
                    if(data == "OK") {
                        // 번역가가 번역 중인지 확인
                        $.ajax({
                            type:"GET",
                            url:"checkTranslateNow",
                            data:{"memberid" : biderid},
                            dataType:"text",
                            success: function(data) {
                                alert(JSON.stringify(data));

                                if(data == 'false') {
                                    // 해당 번역가가 이미 번역중일 때
                                    alert("해당 번역가가 이미 번역 중입니다. 다른 번역가를 선택해주세요");
                                    return;
                                }
                                else {
                                    // 돈도 있고 번역가각 번역중이지도 않음. 
                                    $.ajax({
                                        type:"GET",
                                        url:"successfulBid",
                                        data:{  "biderid" : biderid,
                                                "requestnum" : rql,
                                                "auctionnum" : acn},
                                        success: function() {
                                            alert("낙찰!");
                                            window.opener.location.reload();
                                            window.close();
                                        },
                                        error: function(e) {
                                            alert(JSON.stringify(e));
                                        }
                                    });
                                } // end of else
                            }
                        });
                       
                    }
                    else{
                        let rst = confirm("보유하신 금액이 모자랍니다. 충전 페이지로 이동하시겠습니까?");
                        if(rst) {
                            // 페이지이동하는 코드
                            window.opener.location.href="http://localhost:8888/pretLancer/reward/main";
                            window.close();
                        }
                        else {
                            alert('낙찰할 수 없습니다. 충전해주세요.');
                            window.close();
                            return;
                        }
                    }
                },
                error: function() {}
            });
            
           
        }

        function nowTranslateValidation() {
            let userid = $("#userId").val();

            $.ajax({
                type:"GET",
                url:"checkTranslateNow",
                data:{"memberid" : userid},
                dataType:"text",
                success: function(data) {
                    if(data != 'true') {
                        $("#bidButton").val("한 번에 한 개의 수주만 할 수 있습니다.");
                        $("#bidButton").attr("class","btn btn-danger");
                        $("#bidButton").attr("disabled","true");
                        $("#cash").attr("readonly","true");
                    }
                },
                error: function(e) {
                    alert(JSON.stringify(e));
                }
            });
        }

        function translatorNowTranslateValidation() {
            let userid = $(this).attr("id");

            
        }
    </script>
    
    <!-- 부트스트랩 5.3.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- upper bar css 쓰면 왼쪽 사이드바가 작아진다. (부과효과인듯) -->
    <link rel="stylesheet" th:href="@{/assets/css/pages/upperBar.css}">
    <!-- 기본 부트스트랩 링크들 -->
    <link rel="stylesheet" th:href="@{/assets/css/main/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main/app-dark.css}">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.svg}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.png}" type="image/png">
    
	<link rel="stylesheet" th:href="@{/assets/css/shared/iconly.css}">
	<!-- 준규상 코드 -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/snBarLoader.js}"></script>
	<style>
		.h1 {
			color: white;	
		}
    	.move-right-50 {transform: translateX(300px);}
		.custom-width {width: 1100px;}
		.b {font-weight: bold;}
		.shadow1{
    	 box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
    	}
    </style>
</head>
<body style="background-color: #7576E8;">

	<!-- <div id="snBar-placeholder"></div>
	<br><br><br><br> -->

 <div id="main" >
            
    <!-- 경매 상세 정보 페이지 -->
    <div class="container">
        <input type="hidden" id="userId" th:value="${#authentication.name}">
        <input type="hidden" id="requestId" th:value="${info.memberid}">
        <input type="hidden" id="requestNum" th:value="${info.requestnum_l}">
        <input type="hidden" id="auctionNum" th:value="${auctionNum}">
        <div class="row">
            <div class=" col-6">
                <div class="card shadow1">
                
                	
                    <div class="card-body" style="position: relative;">
                   
                    	<img th:src="@{/img/penNote.png}" class="card-img-top" style="height: 80%; width: 80%; position: absolute; top: 116px; left: 120px;" alt="임시 프로필 사진">
                        <h3>카테고리</h3>
                        <h5 class="card-title"  th:text="${info.category}"></h5>
                        <h3>페이지 수</h3>
                        <h5 class="card-text"  th:text="${info.commentpage}"></h5>         
                        <h3>요청 정보</h3>
                        <h5 class="card-text"  th:text="${info.comment_lr}"></h5>
                        <h3>낙찰 마감 기한</h3>
                        <h5 class="card-text"  th:text="${info.enddate}"></h5>
                        <h3>작업 기한</h3>
                        <h5 class="card-text"  th:text="${info.workdate}"></h5>
                        <h3>희망 입찰 금액</h3>
                        <h5 class="card-text" > [[${info.cash}]] 원</h5>
                    </div>
                </div>
            </div>
       
       
       		
            <div class="col-6" th:if="${info.requestcondition_l == 'N'}" style="text-align:center;">
            <div class="card mb-3" style="background-color:#0C0C3F;">
            <hr>
                <div id="auctionPrice"></div>
    
                <div th:if="${#authentication.name != info.memberid}" class="col-8" >
                    <input name="cash" type="number" id="cash" class="form-control text-end " >
                </div>
					<br>
                <div th:if="${#authentication.name != info.memberid}" class="col-2">
                    <input type="button" id="bidButton" class="btn btn-primary  " value="입찰">
                </div>
                </div>
            </div>

            
        </div>
    </div>
    <!-- 게시글 주인고과 로그인한 유저가 같다면 낙찰 버튼을 활성화하는 함수가 생김 -->
    <script th:if="${#authentication.name == info.memberid}">
        function btnDisplay() {
            $(".btn-warning").show();
        }
    </script>
    <!-- <div id="main"> -->
    </div> 
     <!-- 부트스트랩  JS -->
    <script th:src="@{/assets/js/bootstrap.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>
    
<!-- Need: Apexcharts -->
<script th:src="@{/assets/extensions/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/js/pages/dashboard.js}"></script>
</body>
</html>