<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <title>요청 상세정보</title>
    <script>
        $(document).ready(function() {
            nowTranslateValidation();
            $(".btn").click(requestResponse);
        });

        function requestResponse() {
            let rql = $("#requestnum").val();
            let message = $(this).attr("id");
            
            if(message == "accept") {
                let result = confirm("수락 하시겠습니까?");
                if(!result) {
                    return;
                }
            } 
            if(message == "refuse"){
                let result = confirm("거절하시겠습니까?");
                if(!result) {
                    return;
                }
            }
            alert("true");

            $.ajax({
                type:"GET",
                url:"requestResponse",
                data: { "requestnum" : rql,
                        "message" : message},
                dataType: "text",
                success: function(result) {
                    if(result == "accept") {
                        alert("요청을 수락했습니다!");
                    }
                    else if(result == "refuse") {
                        alert("요청을 거절했습니다.");
                    }

                    window.opener.location.reload();
                    window.close();
                },
                error: function(e) {
                    alert(JSON.stringify(e));
                }
             });
        }

        function nowTranslateValidation() {

            $.ajax({
                type:"GET",
                url:"checkTranslateNow",
                dataType:"json",
                success: function(data) {
                    if(data != null) {
                        // $(".btn").val("한 번에 한 개의 수주만 할 수 있습니다.");
                        alert("한 번에 한 개의 수주만 할 수 있습니다.");
                        // $(".btn-primary").attr("class","btn btn-danger btn-sm");
                        $(".btn-primary").attr("disabled",true);
                        
                    }
                },
                error: function() {
                    alert(JSON.stringify(e));
                }
            });
}
        function refuse() {

        }
    </script>
    <style>
    	.shadow1{
    	 box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
    	}
        .card {
            margin-top: 50px;
            padding: 20px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        }

        .card-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .detail-item {
            margin-bottom: 15px;
        }

        .btn {
            width: 100px;
            margin-right: 10px;
        }
        
        .card {
				    width: 400px; /* 원하는 폭으로 설정 */
				    /* height: 400px;  카드의 높이를 설정하려면 이 줄의 주석을 해제하십시오. 하지만 일반적으로 내용의 높이에 따라 자동으로 조절하는 것이 좋습니다. */
				    margin: 50px auto; /* 화면 중앙에 카드가 위치하도록 변경 */
				    padding: 20px;
				    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
				}
    </style>

</head>
<body style="background-color:#7576E8;">
    <!-- 번역가가 받은 요청의 상세정보 -->
    <div class="container">
    	<div class="card ">
    		<h1 style="text-align:center;">요청 상세 정보</h1>
    		<hr>

    <input type="hidden" id="requestnum" th:value="${request.requestnum_l}">
        <div class="detail-item">
            <span>요청 제목 : </span>
            <span class="h2 text-center" th:text="${request.title}">요청 제목</span>
        </div>
        
        <div>
            <span>카테고리 : </span>
            <span th:text="${request.category}">카테고리</span>
        </div>
        <div>
            <span>마감 날짜 : </span>
            <span th:text="${request.enddate}"></span>
        </div>
        <div>
            <span>글자 및 페이지 수 : </span>
            <span th:text="${request.commentpage}"></span>
        </div>
        <div>
            <div>요청 상세 설명 : </div>
            <div th:text="${request.comment_lr}"></div>
        </div>
        <div>
            <span>요청 금액 : </span>
            <span th:text="${request.cash}"></span>
        </div>
        <div>
            <span>시작 언어 : </span>
            <span th:if="${request.startlang == 'KR'}">한국어</span> 
            <span th:if="${request.startlang == 'JP'}">일본어</span> 
            <span th:if="${request.startlang == 'EN'}">영어</span> 
        </div>
        <div>
            <span>도착 언어 : </span>
            <span th:if="${request.endlang == 'KR'}">한국어</span> 
            <span th:if="${request.endlang == 'JP'}">일본어</span> 
            <span th:if="${request.endlang == 'EN'}">영어</span> 
        </div>
        <hr>
             <div class="d-flex justify-content-center">
			    <div class="d-flex justify-content-end mt-3">
			        <button type="button" id="accept" class="btn btn-primary">수락</button>
			        <button type="button" id="refuse" class="btn btn-danger">거절</button>
			    </div>
			</div>

        </div>
    </div>
    <br><br>
</body>
</html>