<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <title>장문 번역 요청 쓰기</title>
</head>
<body>
    <div class="container col-8">
        <h1>이제 장문 요청 보낸다.</h1>
        <form action="">
            <input class="form-control" type="text" th:value="|${translatorId} 님에게 장문 번역을 요청합니다.|" aria-label="readonly input example" readonly>
            
            <label for="category" class="form-label">카테고리 선택</label>
            <select id="category" class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">논문</option>
                <option value="2">유튜브 자막</option>
                <option value="3">소설</option>
                <option value="4">기타</option>
            </select>

            <label for="date" class="form-label">요청 마감일</label>
            <input id="date" name="enddate" class="form-control form-control-sm" type="date" >
            
            <div class="mb-3">
                <label for="comment" class="form-label">번역 요청 설명</label>
                <textarea name="comment_lr" class="form-control" id="comment" rows="15" placeholder="페이지 및 글자 수 등 번역 요청물에 대한 자세한 설명을 적어주세요."></textarea>
            </div>

            <div class="mb-3">
                <label for="formFile" class="form-label">번역 요청 파일</label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <div>
                <label for="startLang" class="form-label">시작 언어</label>
                <select name="startlang" id="startLang" class="form-select "style="width:40%;" aria-label="Default select example">
                    <option selected>시작 언어를 선택해주세요.</option>
                    <option value="KR">한국어</option>
                    <option value="JP">일본어</option>
                    <option value="EN">영어</option>
                </select>
                <label for="endLang" class="form-label">도착 언어</label>
                <select name="endlang" class="form-select "style="width:40%;" aria-label="Default select example">
                    <option selected>도착 언어를 선택해주세요.</option>
                    <option value="KR">한국어</option>
                    <option value="JP">일본어</option>
                    <option value="EN">영어</option>
                </select>
            </div>
        </form>
    </div>
    
</body>
</html>