<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p th:text="${translated.requestcontent_m}">기본값</p>
	<form th:action="@{/translated/submitTM}" method="post">
		<textarea rows="30" cols="30" name="translatedcontent_m"></textarea>
		<input type="hidden" name="translatednum_m" th:value="${translated.translatednum_m}"/>
		<input type="hidden" name="requestnum_m" th:value="${translated.requestnum_m}"/>
		<input type="submit" value="번역제출하기fuckyou">
	</form>
</body>
</html>