<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입 | 신개념 번역 플랫폼 프릿랜서</title>
<style>


	@font-face {
	    font-family: 'LINESeedKR-Bd';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
	    font-weight: 700;
	    font-style: normal;
	}
	
	* {
	    font-family: 'LINESeedKR-Bd';	
		color : #2C2E33;

	}
	
	h2{
		color : #2C2E33;
	} 
	
	a {
		color : #2334DE;
	}
	
	div {
		text-align : center;
	}
	
	table {
		margin-left : auto;	
		margin-right : auto;	
		margin-top : auto;	
		margin-bottom : auto;	

	}
	
	select {
		width : 255px;
		height : 30px;
		
		border : solid 2px #EFF0F0;
		border-radius : 5px;
	
	}
	
	.login{
	
		width : 250px;
		height : 30px;
		
		border : solid 2px #EFF0F0;
		border-radius : 5px;
		
	}

	.join_button{
	
		width : 100px;
		height : 35px;
		background-color:#2334DE;
		color : #FFFFFF;
		
		border : 0px;
		border-radius : 5px;
		
	}
	
	.button{
		text-align : center;
	}


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
	//이메일 인증 구현
	$(document).ready(function() {
		$("#sendEmail").click(sendEmail);
		$("#confirmBt").click(confirmPassword);
		let code ;

		function sendEmail() {
			let email = $("#email").val();
			$.ajax({
				type: "GET",
				url: "../email",
				crossDomain: true,
            	headers: {  'Access-Control-Allow-Origin': 'http://The web site allowed to access' },
				data: {"email" : email},
				dataType: 'json',
				success: function(password) {
					code = password;
					alert("전송 성공!");
					//alert(password);
					$("#confirmBox").attr("style","display: ;");


					
				},
				error: function(e,request, status, error) {
					alert("전송 실패");
					alert(JSON.stringify(e));
					console.log(JSON.stringify(e))
					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				}
			});
		}; // End Of sendMail

		function confirmPassword() {
			let sendPw = $("#mailPw").val();

			if(code == sendPw) {
				alert("인증되었습니다!");
				$("#submitBt").attr("disabled",false);
			}else {
				alert("인증번호를 확인해주세요");
			}
		}
		
		// function confirmPassword() {
		// 	let sendPw = $("#mailPw").val();
		// 	alert("클릭은 돼.");
		// 	$.ajax({
		// 		type: "GET",
		// 		url: "../confirm",
		// 		data: {"sendPassword" : sendPw},
		// 		dataType: "text",
		// 		success: function(result) {
		// 			alert("인증 절차는 성공!")
		// 			if(result == 'true') {
		// 				alert("인증 성공 일치!");
		// 				$("#submitBt").attr("disabled",false);
		// 			}
		// 			else {
		// 				alert("인증 실패 불일치!");
		// 			}
					
		// 		},
		// 		error: function(e,request, status, error) {
		// 			alert("ajax실패");
		// 			alert(JSON.stringify(e));
		// 			console.log(JSON.stringify(e))
		// 			alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
		// 		}
		// 	});
		// };// End Of confirmPasword
		
	}); // End Of jQuery

</script>
<script>

	/* 제이쿼리! 
		1. 아이디 길이 : 5글자에서 9글자 사이(idcheck에서 구현 완료)
		2. 비밀번호 : 길이 설정 (8글자~12글자, 영어 + 숫자 조합)
		3. 비밀번호 확인 : 비밀번호와 같지 않으면 밑에 '비밀번호와 일치하지 않습니다' 문구가 뜸
		4. 이메일 : @가 포함되지 않을 경우 '이메일은 ㅇㅇㅇㅇ@.ㅇㅇㅇ의 형식으로 작성해주세요'
		5. 이름 : 1글자만 입력할 경우 '이름을 올바르게 입력해주세요'
		6. 언어 : 언어를 선택하지 않을 경우 '언어를 선택해주세요'
	*/

	$(document).ready(function() {
		$('#pw').keyup(pwhtml);
		$('#pwcheck').keyup(pwcheck);
		$('#email').keyup(mailhtml);
		$('#name').keyup(namehtml);
		$('#lang').onchange(langhtml);
	});
	
	//pwhtml : 입력된 비밀번호를 받아서 글자 수를 체크한 다음 8글자에서 12글자 사이가 아니면 아래 경고문구가 뜬다.
	function pwhtml() {
		//input에서 pw 밸류를 받아온다.
		let pw = document.getElementById('pw').value;
		
		//pw length를 잰 후 html 반환
		if (pw.length < 8 || pw.length > 12) {
			$('#pwspan').html('<br>비밀번호는 8글자에서 12글자 사이로 입력해주세요.');
		} else {
			$('#pwspan').html('');			
		}
	}

	//pwcheck : 입력된 비밀번호 확인이 비밀번호와 같지 않으면 '입력하신 비밀번호와 똑같이 입력해주세요.'라고 뜸
	function pwcheck() {
		//input에서 pw 밸류를 받아온다.
		let pw = document.getElementById('pw').value; //비밀번호 value
		let pwc = document.getElementById('pwcheck').value; //비밀번호 확인 value
		
		//pwc와 pw가 같은지 여부에 따라 html 변환
		if (pwc != pw) {
			$('#pwcspan').html('<br>입력하신 비밀번호와 똑같이 입력해주세요.');
		} else {
			$('#pwcspan').html('');			
		}
	}

	//mailhtml : 이메일에 @가 포함되지 않으면 'ooo@ooo.ooo'의 형식으로 입력하라고 뜸
	function mailhtml() {
		//input에서 mail 밸류를 받아온다.
		let mail = document.getElementById('email').value; //이메일 value
		
		//email에 @가 들어있는지 여부에 따라 html 변환
		if (!mail.includes('@')) {
			$('#mailspan').html('<br>OOO@OOO.OO의 형식으로 입력해주세요.');
		} else {
			$('#mailspan').html('');			
		}		
	}

	//namehtml : 이름이 2글자 미만일 경우 '이름을 정확하게 입력하세요.'라고 뜸
	function namehtml() {
		//input에서 name 밸류를 받아온다.
		let name = document.getElementById('name').value; //이름 value
		
		//name 길이에 따라 html 변환
		if (name.length < 2) {
			$('#namespan').html('<br>이름을 올바르게 입력해주세요.');
		} else {
			$('#namespan').html('');			
		}				
	}

	//langhtml : value를 선택하지 않았을 경우 '언어를 선택하세요'라고 뜬다
	function langhtml() {
		//input에서 lang 밸류를 받아온다.
		let lang = $("#lang option:selected").val();		
		//lang 값에 따라 html 변환
		if (lang == 'JP' || lang == 'EN') {
			$('#langspan').html('');
		} else {
			$('#langspan').html('<br>자주 사용하는 언어를 선택하세요.');			
		}				
		
	}

	function check() {
		let id = document.getElementById('id').value;
		let pw = document.getElementById('pw').value;
		let pw2 = document.getElementById('pwcheck').value;
		let email = document.getElementById('email').value;
		let mailPw = document.getElementById('mailPw').value;
		let name = document.getElementById('name').value;
		let nick = document.getElementById('nick').value;
		let lang = document.getElementById('lang').value;

		
		//아이디 입력
		if (id == '' || id.length == 0) {
			alert('아이디를 입력하세요.');
			return false;
		}
		
		//id는 5글자에서 9글자 사이로 입력되어야 함
		if (id.length < 5 || id.length > 9) {
			alert('아이디는 5글자에서 9글자 사이로 입력되어야 합니다.');
			return false;
		}

		//비밀번호 입력
		if (pw == '' || pw.length == 0) {
			alert('비밀번호를 입력하세요.');
			return false;
		}

		//비밀번호는 8글자에서 12글자 사이
		if (pw.length < 8 || pw.length > 12) {
			alert('비밀번호는 8글자에서 12글자 사이로 입력되어야 합니다.');
			return false;
		}

		//비밀번호확인 입력
		if (pw2 == '' || pw2.length == 0) {
			alert('비밀번호 확인을 입력하세요.');
			return false;
		}

		//비밀번호 확인은 비밀번호와 일치해야 함
		if (pw2 != pw) {
			alert('비밀번호 확인을 확인하세요.');
			return false;
		}

		//이메일 입력
		if (email == '' || email.length == 0) {
			alert('이메일을 입력하세요.');
			return false;
		}

		//이메일에 @가 포함되지 않으면 올바른 형식으로 입력하라고 함
		if (!email.includes('@')) {
			alert('이메일을 올바른 형식으로 입력하세요.');
			return false;
		}

		//이메일 인증번호 입력
		if (mailPw == null || mailPw.length == 0) {
			alert('인증 번호를 입력하세요.');
			return false;
		}

		//이름 입력
		if (name == '' || name.length == 0) {
			alert('이름을 입력하세요.');
			return false;
		}

		//닉네임 입력
		if (nick == '' || nick.length == 0) {
			alert('닉네임을 입력하세요.');
			return false;
		}

		//언어 선택되지 않았을 때
		if (lang == null || lang.length == 0) {
			alert('언어를 선택하세요.');
			return false;
		}

		return true;
	}
		
	function openwin() {
		window.open('http://localhost:8888/pretLancer/member/idcheck','아이디 중복체크', 'w, width=500, height=300, top=200, left=600');
	}
	
	function goback() {
		History.back();
	}
	
</script>
</head>
<body>
	<div>
	<h1>회원가입</h1>
	
	<form th:action = "@{/member/join}" method = "post" onsubmit = "return check()">
	<table>
	<!-- 
	
	1. 아이디의 경우, readOnly로 설정되어 클릭 시 아이디 중복확인 폼이 나오고, 중복확인을 통과한 아이디를 사용하기 버튼을 눌러 이용할 수 있게 한다 -->
	<tr><td>아이디</td> <td><input type = "text" placeholder = "사용할 아이디를 입력해주세요." name = "memberid" id = "id" class = "login"  readonly onclick = "javascript:openwin()"></td> </tr>
	<tr><td>비밀번호</td> <td><input type = "password" placeholder = "비밀번호를 입력해주세요." name = "memberpw" id = "pw" class = "login"><span id = "pwspan" style = "font-size : 10pt; color : red"></span></td><td></td></tr>
	<tr><td>비밀번호 확인</td> <td><input type = "password" placeholder = "비밀번호를 한 번 더 입력해주세요." id = "pwcheck" class = "login"><span id = "pwcspan" style = "font-size : 10pt; color : red"></span></td><td></td></tr>
	<tr><td>이메일</td> <td><input type = "text"  placeholder = "이메일을 입력해주세요." name = "membermail" id = "email" class = "login"><span id = "mailspan" style = "font-size : 10pt; color : red"></span></td>
		<td><input type="button" id="sendEmail" value="이메일 전송" class = "join_button"></td>
	</tr>
	<tr id="confirmBox" style="display: none;">
		<td></td>
		<td><input type = "text"  placeholder = "인증번호를 입력해주세요." name = "mailPw" id = "mailPw" class = "login"></td>
		<td><input type="button" id="confirmBt" value="인증번호 확인" class = "join_button"></td>
	</tr>
	<tr><td>이름</td> <td><input type = "text"  placeholder = "이름을 입력해주세요." name = "membername" id = "name" class = "login"><span id = "namespan" style = "font-size : 10pt; color : red"></span></td><td></td></tr>
	<tr><td>닉네임</td> <td><input type = "text" placeholder = "닉네임을 입력해주세요." name = "membernick" id = "nick" class = "login"><span id = "nickspan" style = "font-size : 10pt; color : red"></span></td><td></td></tr>
	<tr><td>자주 사용하는 언어<br>(번역 언어)</td><td><select name = "memberlang" id = "lang"><option selected value = null>자주 사용하는 언어를 선택해주세요.</option>
										<option value = "JP">일본어</option>
										<option value = "EN">영어</option>
										</select><span id = "langspan" style = "font-size : 10pt; color : red"></span></td><td></td></tr>
	</table>
	<br>
	<div class = "button">
	<input type = "button" value = "뒤로" class = "join_button" href = "javascript : goback()">
	<input type = "submit" value = "회원가입" class = "join_button" id ="submitBt" disabled="disabled">
	</div>
	</form>
	
	</div>

</body>

</html>