<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<style>

	@font-face {
	    font-family: 'LINESeedKR-Bd';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
	    font-weight: 700;
	    font-style: normal;
	}
	
	* {
	    font-family: 'LINESeedKR-Bd';	
	}
	
	h2, a {
		color : #94B1FF;
	}

</style>
</head>
<body>
	<h2>번역하고, 용돈벌고! <br>
	신개념 번역 플랫폼 PretLancer</h2>
	<p>처음이신가요? <a href = "">회원가입</a></p>
	
	<form action = "" method = "" onsubmit = "">
	<input type = "text" placeholder="이메일 주소를 입력해주세요" name = "memberName"><br>
	<input type = "password" placeholder="비밀번호를 입력해주세요" name = "memberPW"><br>
	<input type = "submit" value = "로그인">
	</form>
	
	<p><a href = "">아이디 혹은 비밀번호를 잊으셨나요?</a></p>
	
	<input type = "button" value = "구글 아이디로 로그인"><br>
	<input type = "button" value = "네이버 아이디로 로그인">

</body>
</html>